.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.calculator {
    background-color: grey;
    border-radius: 7px;
    padding: 12px;
}

.display {
    height: 120px;
    border: 1px solid black ;
    border-radius: 7px;
    font-family: Arial;
    font-size: 40px;
    text-align: right;
    background-color: rgb(125, 140, 115);
    color: black;
}

.screen {
    margin-top: 60px;
    margin-right: 20px;
}

.row {
    padding: 5px;
}

button {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 30px;
    margin: 2px;
}

button:hover {
    cursor: pointer;
}

#equals {
    background-color: #4285F4;
    color: white;
    font-weight: bold;
}

.clear {
    width: 188px;
    padding: 20px;
}

#clear {
    background-color: #ffcccb;
}

#delete {
    background-color: lightblue;
}