.calculator {
    text-align: center;
}

.display {
    display: inline-block;
    width: 370px;
    height: 150px;
    border: 1px solid lightgrey ;
    border-radius: 7px;
}

.row {
    padding-top:5px;
}

button {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
}

#equals {
    background-color: #4285F4;
    color: white;
    font-weight: bold;
}