body {
    background-color: lightslategray;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-family: Arial;
    font-weight: bold;
}
    

.footer {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 64px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.calculator {
    background-color: grey;
    border-radius: 7px;
    padding: 12px;
    border: 2px solid black;
}

.display {
    height: 120px;
    border: 2px solid black ;
    border-radius: 7px;
    font-family: Arial;
    text-align: right;
    background-color: rgb(125, 140, 115);
    color: black;
}

.equation {
    margin-top: 5px;
    margin-right: 5px;
    min-height: 50px;
    font-size: 20px;
}

.screen {
    margin-top: 15px;
    margin-right: 10px;
    min-height: 90px;
    font-size: 40px;
}

.row {
    padding: 5px;
}

button {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 30px;
    margin: 2px;
}

button:hover {
    cursor: pointer;
}

#equals {
    background-color: #4285F4;
    color: white;
    font-weight: bold;
}

.clear {
    width: 188px;
    padding: 20px;
}

#clear {
    background-color: #ffcccb;
}

#delete {
    background-color: lightblue;
}